




{% extends "auctions/layout.html" %}
{% block body %}
<h1>Watchlist:</h1>

{% if user.is_authenticated %}
    {% for listing in watchlist %}
    <div class="container-fluid border p-1 mb-3" style="min-height: 15vh;">

        <div class="row align-items-center" style="height: 100%;">

            <div class="col-4 d-flex justify-content-center">
                {% if listing.imageUrl %}
                <img style="max-height: 100%; max-width: 400px;" src="{{listing.imageUrl}}">
                {% else %}
                <div style="height: 250px; width: 250px;"></div>
                {% endif %}
            </div>
        
            <div class="col-8">
                <a href="{% url 'listing' listing.id %}" class="h2" style="text-decoration: none;">{{ listing.title }}</a>
                <p class="h5 mr-1">{{ listing.text_description }}</p>
                <p class="h5 font-weight-bold">Current bid: {{ listing.starting_bid }} $</p>
            </div>

        </div>

    </div>

    {% empty %}
        <p class="h3">You have no listings in your watchlist.</p>
    {% endfor %}

{% else %}
    <p class="h3">You need to be signed in to have a watchlist</p>
{% endif %}



{% endblock %}

